/*font*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic|Merriweather:400,300,300italic,400italic,700,700italic,900|Merriweather+Sans);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }

input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media screen and (max-width: 1024px) { * { -webkit-text-size-adjust: none; } }

table { border-spacing: 0; border-collapse: collapse; width: 100%; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

body { font-family: "Lato"; font-weight: normal; font-size: 12px; line-height: 1.4; }

a { text-decoration: underline; color: inherit; cursor: pointer; }

a:hover { text-decoration: none; }

p { line-height: 22px; color: #54575a; font-size: 16px; }

h1, h2, h3, h4, h5, h6 { color: inherit; font-weight: normal; }

h1 { font-size: 24px; }

h2 { font-size: 22px; }

h3 { font-size: 20px; }

h4 { font-size: 18px; }

h5 { font-size: 16px; }

h6 { font-size: 14px; }

.button { background: #52bcd9; font-family: "Lato"; color: #ffffff; font-size: 15px; padding: 7px 10px; text-decoration: none; border: none; display: inline-block; -webkit-appearance: none; text-transform: uppercase; font-weight: bold; }

.button:hover { background: #3cb0fd; }

input[type=text], input[type=email], input[type=tel], input[type=search], input[type=password], input[type=date], input[type=url], textarea { width: 365px; height: 41px; box-sizing: border-box; padding: 0 15px; color: #000; font-size: 14px; background: #e9e9e9; font-family: "Lato"; border: none; resize: none; }

input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus, input[type=search]:focus, input[type=password]:focus, input[type=date]:focus, input[type=url]:focus, textarea:focus { box-shadow: 0 0 2px #99e6f9; }

input[type=text].red_input, input[type=email].red_input, input[type=tel].red_input, input[type=search].red_input, input[type=password].red_input, input[type=date].red_input, input[type=url].red_input, textarea.red_input { box-shadow: 0 0 2px #ff2d50; background: #fdc4ce; }

input::-webkit-input-placeholder { color: inherit; }

input:-moz-placeholder { color: inherit; }

textarea { height: 90px; padding-top: 5px; }

.modal { display: none; }

.clear { clear: both; height: 0; overflow: hidden; }

.float_left { float: left !important; }

.float_right { float: right !important; }

.float_none { float: none !important; }

.text_right { text-align: right !important; }

.text_center { text-align: center !important; }

.text_left { text-align: left !important; }

.absolute { position: absolute !important; }

.relative { position: relative !important; }

.fixed { position: fixed !important; }

.background_none { background: none !important; }

.inline { display: inline; }

.inline-block { display: inline-block; }

.block { display: block; }

.hidden { display: none; }

.wrapper { position: relative; overflow: hidden; }

.container { width: 900px; margin: 0 auto; position: relative; overflow: hidden; }

/* Slider */
.slick-slider { position: relative; display: block; box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }

.slick-list:focus { outline: none; }

.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-track, .slick-slider .slick-list { -webkit-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; }

.slick-track:before, .slick-track:after { content: ""; display: table; }

.slick-track:after { clear: both; }

.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }

[dir="rtl"] .slick-slide { float: right; }

.slick-slide img { display: block; }

.slick-slide.slick-loading img { display: none; }

.slick-slide.dragging img { pointer-events: none; }

.slick-initialized .slick-slide { display: block; }

.slick-loading .slick-slide { visibility: hidden; }

.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-arrow.slick-hidden { display: none; }

/*----------header----------*/
.header { height: 90px; background: #ff9016; }

.header .container { position: static; overflow: visible; }

.trigger_menu { display: none; }

.logo { float: left; padding: 18px 0; }

.menu { float: left; font-size: 18px; font-weight: bold; color: #fff; padding: 10px 0 0 38px; }

.menu a { text-decoration: none; }

.menu a:hover { text-decoration: underline; }

.menu li { display: inline-block; padding: 0 15px 0 0; }

.header .menu { padding-top: 0; }

.header .menu li { height: 84px; }

.header .menu li a { display: inline-block; height: 84px; line-height: 84px; position: relative; }

.header .menu li a:before { width: 0px; height: 0px; border-style: solid; border-width: 0 9px 13px 9px; border-color: transparent transparent #fff transparent; position: absolute; bottom: 10px; left: 50%; -webkit-transition: all 0.6s ease; transition: all 0.6s ease; margin-left: -9px; content: ''; opacity: 0; }

.header .menu li:hover .dropdown { display: block; opacity: 1; z-index: 5; top: 84px; }

.header .menu li:hover a { position: relative; }

.header .menu li:hover a:before { opacity: 1; bottom: 0; }

.header .menu .dropdown { width: 100%; -webkit-transition: all 0.6s ease; transition: all 0.6s ease; background: #fff; height: auto; position: absolute; top: 74px; left: 0; opacity: 0; text-align: center; }

.header .menu .dropdown li { height: 48px; position: relative; }

.header .menu .dropdown li:before { content: ''; position: absolute; display: block; opacity: 1; left: -9px; top: 17px; height: 15px; border-left: 1px solid #ffab33; border-right: 1px solid #ffdcaa; }

.header .menu .dropdown li:first-child:before { display: none; }

.header .menu .dropdown li a { height: 48px; line-height: 48px; color: #ff9600; font-size: 15px; font-weight: normal; position: relative; }

.header .menu .dropdown .dropdown_bigmenu ol { display: inline-block; vertical-align: top; width: auto; text-align: left; padding: 10px 20px 20px 0; }

.header .menu .dropdown .dropdown_bigmenu ol li { display: block; float: none; text-transform: uppercase; color: #686868; font-size: 11px; height: auto; line-height: 1; }

.header .menu .dropdown .dropdown_bigmenu ol li b { font-weight: 900; display: block; padding-bottom: 7px; }

.header .menu .dropdown .dropdown_bigmenu ol li a { height: auto; line-height: 14px; text-transform: uppercase; color: #686868; font-size: 11px; }

.header .menu .dropdown .dropdown_bigmenu ol li a:before { display: none; }

.header .menu .dropdown .dropdown_bigmenu ol li:before { display: none; }

.social_icon { display: inline-block; padding: 0 0 0 11px; }

.social_icon img { width: 32px; height: 31px; position: relative; top: 6px; }

/*----------end-header----------*/
/*----------main----------*/
.main { position: relative; overflow: hidden; }

/*---------slider---------*/
.slider_wrap { width: 100%; height: 419px; position: relative; }

.slider_wrap .container { height: 419px; }

.slider_wrap .bx-controls-direction { display: none; }

.slider_img { position: absolute; right: 0; top: 0; z-index: 1; }

.slider_txt { padding: 80px 0 0 0; position: relative; z-index: 2; }

.slider_txt h6, .slider_txt h1 { font-size: 46px; color: #1788a9; font-weight: bold; text-transform: uppercase; line-height: 1.1; }

.slider_txt em { text-transform: none; font-weight: normal; font-family: "Merriweather"; font-style: italic; font-size: 53px; }

.slider_txt p { line-height: 22px; font-size: 16px; color: #54575a; width: 327px; display: block; padding: 35px 0 0 0; }

.slider_txt .button { margin-top: 29px; background: #ff9016; }

.slider_txt .button:hover { opacity: 0.9; }

.slider_block { background: #fff; background: -webkit-linear-gradient(legacy-direction(#bde4f7), #fff); background: -webkit-linear-gradient(#bde4f7, #fff); background: linear-gradient(#bde4f7, #fff); }

.slider_block.violet { background: #fff; background: -webkit-linear-gradient(legacy-direction(#d895d2), #fff); background: -webkit-linear-gradient(#d895d2, #fff); background: linear-gradient(#d895d2, #fff); }

.slider_block.violet .slider_txt h6, .slider_block.violet .slider_txt h1 { color: #b934ae; }

.slider_block.rose { background: #fff; background: -webkit-linear-gradient(legacy-direction(#ffaf9a), #fff); background: -webkit-linear-gradient(#ffaf9a, #fff); background: linear-gradient(#ffaf9a, #fff); }

.slider_block.rose .slider_txt h6, .slider_block.rose .slider_txt h1 { color: #ff4412; }

.slider_block.yellow { background: #fff; background: -webkit-linear-gradient(legacy-direction(#fffb92), #fff); background: -webkit-linear-gradient(#fffb92, #fff); background: linear-gradient(#fffb92, #fff); }

.slider_block.yellow .slider_txt h6, .slider_block.yellow .slider_txt h1 { color: #e34545; }

.bx-default-pager { position: absolute; bottom: 0; left: 50%; z-index: 10; width: 900px; margin-left: -450px; width: 100%; }

.bx-default-pager .bx-pager-item { display: inline-block; }

.bx-default-pager a { display: inline-block; width: 16px; height: 16px; margin: 0 10px 0 0; border-radius: 50%; background: #ffca7f; font: 0 / 0 a; text-shadow: none; color: transparent; }

.bx-default-pager a.active { background: #ffac36; }

/*--------end-slider------*/
/*--------brands------*/
.brands_wrap { padding: 30px 0 16px 0; }

.title { font-size: 25px; color: #ff9600; text-align: center; text-transform: uppercase; font-weight: bold; vertical-align: middle; margin-bottom: 15px; position: relative; }

.title em { text-transform: none; vertical-align: middle; font-weight: normal; font-family: "Merriweather"; font-style: italic; font-size: 18px; }

.title span { background: #fff; position: relative; z-index: 2; padding: 0 9px; }

.title:before { content: ''; width: 100%; height: 1px; position: absolute; top: 50%; left: 0; background: #146a83; }

.brands_images { display: table; width: 100%; }

.brands_block { display: table-row; width: 100%; }

.brands_item { text-align: center; display: table-cell; vertical-align: bottom; }

/*--------end-brands------*/
/*--------tiles------*/
.tiles_wrap { padding-bottom: 35px; position: relative; overflow: hidden; }

.tiles_item { width: 292px; height: 285px; position: relative; overflow: hidden; float: left; margin: 0 11px 11px 0; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; }

.tiles_item:nth-child(3n) { margin-right: 0; }

.tiles_item figure { width: 292px; height: 292px; position: relative; overflow: hidden; }

.tiles_item figure figcaption { background: #ff9600; height: 73px; position: relative; box-sizing: border-box; padding: 7px 13px 7px 55px; font-size: 27px; color: #fff; font-weight: bold; line-height: 1.1; text-transform: uppercase; }

.tiles_item figure figcaption em { display: block; text-transform: none; font-size: 24px; font-weight: normal; font-family: "Merriweather"; }

.tiles_item figure figcaption img { position: absolute; left: 6px; top: 17px; }

.tiles_item section { background: #ff9600; position: absolute; top: -211px; opacity: 1; left: 0; width: 100%; height: 100%; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; }

.tiles_item section p { font-size: 22px; color: #fff; font-family: "Merriweather"; line-height: 29px; font-style: italic; padding: 18px; }

.tiles_item:hover section { opacity: 1; top: 0; }

.tiles_description { height: 73px; position: absolute; bottom: 0; left: 0; box-sizing: border-box; padding: 7px 13px 7px 68px; font-size: 27px; color: #fff; font-weight: bold; line-height: 1.1; text-transform: uppercase; }

.tiles_description em { display: block; text-transform: none; font-size: 24px; font-weight: 300; font-family: "Merriweather"; }

.tiles_description img { position: absolute; left: 16px; top: 17px; }

.tiles_item.blue figure figcaption { background: #008aff; }

.tiles_item.blue section { background: #008aff; }

.tiles_item.lightblue figure figcaption { background: #52bcd9; }

.tiles_item.lightblue section { background: #52bcd9; }

.tiles_item.green figure figcaption { background: #40c716; }

.tiles_item.green section { background: #40c716; }

.tiles_item.orange figure figcaption { background: #ea5311; }

.tiles_item.orange section { background: #ea5311; }

.tiles_item.violet section { opacity: 1; top: 0; background: #8717c1; background: -webkit-linear-gradient(-45deg, #8717c1 0%, #31016f 100%); background: -webkit-linear-gradient(315deg, #8717c1 0%, #31016f 100%); background: linear-gradient(135deg, #8717c1 0%, #31016f 100%); }

.tiles_item_social { padding: 14px 22px; padding-bottom: 0; font-size: 27px; text-transform: uppercase; vertical-align: middle; color: #fff; }

.tiles_item_social img { padding: 0 15px 0 0; }

/*--------end-tiles------*/
.text_center .button { text-transform: none; }

/*----------end main----------*/
/*----------footer----------*/
.footer { position: relative; overflow: hidden; margin: 45px 0 0 0; background: #ff9600; padding: 20px 0; }

.footer.no-margin { margin-top: 0; }

.footer address { padding: 0 50px 0 25px; float: left; font-style: normal; color: #fff; font-size: 16px; width: 181px; line-height: 1; }

.footer address strong { display: block; }

.footer .logo { padding: 0; }

.footer .menu li { vertical-align: middle; }

.footer .menu li.cloud { position: relative; top: 8px; }

.footer .menu li.cloud:before { content: ''; height: 25px; width: 2px; position: absolute; background: #fff; left: -10px; top: 0px; }

.hide_desctop { display: none; }

.hide_mobile { display: block; }

.sanofi { background: #fff; padding: 3px 0; text-align: right; }

/*----------end footer----------*/
/*----------behind-scenes----------*/
.top_wrap .container { min-height: 460px; }

.content_txt { line-height: 22px; color: #54575a; font-size: 16px; padding: 22px 0 0 0; }

.content_txt p { padding-bottom: 20px; }

/*----------end-behind-scenes----------*/
/*----------latest-inovations----------*/
.latest_inovations_bnr { background: #fff; background: -webkit-linear-gradient(top, #96e07e 0%, #ffffff 42%, #ffffff 98%); background: linear-gradient(to bottom, #96e07e 0%, #ffffff 42%, #ffffff 98%); }

.latest_inovations_bnr .slider_txt h6, .latest_inovations_bnr .slider_txt h1 { color: #228e16; }

.latest_inovations_bnr .container { height: 490px; }

.link { font-size: 16px; color: #ff9016; text-decoration: none; text-transform: uppercase; }

.link:hover { text-decoration: underline; }

.news_wrap { padding-top: 20px; }

.news_block { position: relative; overflow: hidden; padding: 20px 0; }

.news_block > img { border-radius: 50%; float: left; margin: 0 20px 0 0; }

.news_block article { position: relative; overflow: hidden; }

.news_block article section { display: table-cell; height: 207px; vertical-align: middle; }

.news_block article h6, .news_block article h1 { font-size: 20px; color: #0076a9; text-transform: uppercase; padding-bottom: 5px; font-weight: bold; }

.news_block article h6 a, .news_block article h1 a { text-decoration: none; }

.news_block article h6 a:hover, .news_block article h1 a:hover { text-decoration: underline; }

.news_block article p { padding-bottom: 15px; }

/*----------end-latest-inovations----------*/
/*----------guide----------*/
.guide_bnr { background: #F4A988; background: -webkit-linear-gradient(top, rgba(244, 169, 136, 0.63) 0%, rgba(255, 255, 255, 0.86) 63%, white 100%); background: linear-gradient(to bottom, rgba(244, 169, 136, 0.63) 0%, rgba(255, 255, 255, 0.86) 63%, white 100%); }

.guide_bnr .slider_txt h6, .guide_bnr .slider_txt h1 { color: #d21460; }

.guide_bnr .container { height: auto; min-height: 530px; }

.guide_wrap { text-align: center; padding: 45px 0 0 0; }

.guide_block figure { vertical-align: top; margin: 0 5px; padding-bottom: 25px; display: inline-block; width: 220px; }

.guide_block figure img { border-radius: 50%; }

.guide_block figure figcaption { padding: 12px 0 0 0; color: #146a83; font-size: 16px; color: #146a83; font-style: italic; font-family: "Merriweather"; }

.guide_block figure figcaption a { font-size: 20px; font-weight: bold; font-family: "Lato"; text-decoration: none; display: block; font-style: normal; }

.guide_block figure figcaption a:hover { text-decoration: underline; }

/*----------end-guide----------*/
/*----------faq----------*/
.faq { background: #fff191; background: -webkit-linear-gradient(top, #fff191 0%, #ffffff 21%, #ffffff 100%); background: linear-gradient(to bottom, #fff191 0%, #ffffff 21%, #ffffff 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff191', endColorstr='#ffffff',GradientType=0 ); padding: 75px 0; }

.faq h1 { font-size: 45px; color: #177fe9; text-transform: uppercase; padding-bottom: 28px; font-weight: bold; }

.faq section { counter-reset: list; }

.faq dl { padding-left: 18px; position: relative; color: #54575a; font-size: 16px; line-height: 20px; }

.faq dl:before { counter-increment: list; content: counter(list); position: absolute; left: 0; top: 1px; color: #ff9016; font-size: 16px; font-family: "Lato"; font-weight: bold; }

.faq dt { font-weight: bold; padding-bottom: 20px; }

.faq dd { padding-bottom: 20px; }

/*----------end-faq----------*/
/*----------career_bnr----------*/
.career_bnr { background: #fff; background: -webkit-linear-gradient(legacy-direction(#85e4ff), #fff); background: -webkit-linear-gradient(#85e4ff, #fff); background: linear-gradient(#85e4ff, #fff); }

.search_wrap { padding: 30px 0 0 0; }

.search_form { padding-bottom: 28px; }

.search_form_top { padding-bottom: 19px; text-align: center; }

.search_form_top div { margin: 0 20px; text-align: left; display: inline-block; }

.search_form_top div label { display: block; font-weight: bold; font-size: 16px; color: #54575a; padding-bottom: 9px; }

.search_form_top div input { width: 365px; height: 41px; background: #e9e9e9; border-radius: 0; border: none; }

.search_form_bottom { width: 775px; text-align: left; margin: 0 auto; }

.search_form_bottom label { padding: 13px 15px 0 0; font-size: 16px; color: #54575a; display: inline-block; font-family: "Merriweather"; }

.search_form_bottom .button { float: right; width: 186px; height: 45px; background: #1371a2; font-size: 15px; color: #fff; }

.search_form_bottom .button:hover { opacity: 0.8; }

.styled_radio { width: 26px; height: 26px; display: inline-block; position: relative; vertical-align: middle; margin: 0 9px 0 0; }

.styled_radio i { display: inline-block; width: 26px; height: 26px; background: #e9e9e9; border-radius: 50%; margin: 0 8px 0 0; }

.styled_radio input { position: absolute; left: 0; top: 0; width: 100%; height: 100%; opacity: 0; }

.styled_radio input:checked + i:before { content: ''; width: 12px; height: 12px; left: 7px; top: 7px; position: absolute; border-radius: 50%; background: #54575a; }

.search_table { width: 775px; margin: 0 auto; }

.search_table table { width: 100%; }

.search_table table td { vertical-align: middle; padding: 10px 0; font-family: "Merriweather"; font-size: 14px; color: #808080; border-top: 1px solid #ff9016; }

.search_table table td:nth-child(2) { width: 70%; }

.search_table table td a.button { width: 134px; height: 45px; line-height: 45px; padding: 0; text-align: center; float: right; background: #1371a2; }

.search_table table td a.button:hover { opacity: 0.8; }

.search_table table td img { padding: 0 30px 0 0; }

.paginator { text-align: center; padding: 30px 0 0 0; font-size: 13px; color: #1371a2; font-weight: bold; }

.paginator a { text-decoration: none; padding: 0 6px; font-weight: bold; }

.paginator a:hover, .paginator a.active { color: #ff9600; }

/*----------end-career_bnr----------*/
/*----------contacts----------*/
.contacts_bnr { background: #fff; background: -webkit-linear-gradient(legacy-direction(#ffca90), #fff); background: -webkit-linear-gradient(#ffca90, #fff); background: linear-gradient(#ffca90, #fff); }

.map, .image_round { position: relative; overflow: hidden; position: absolute; top: -43px; z-index: 3; right: 0; border-radius: 50%; }

.contact_form_wrap { position: relative; overflow: hidden; width: 780px; }

.contact_form small { font-size: 12px; color: #54575a; text-transform: uppercase; display: block; padding-bottom: 20px; }

.contact_form_row { position: relative; overflow: hidden; padding-bottom: 37px; }

.contact_form_row .button { width: 231px; height: 56px; color: #fff; font-size: 18px; text-transform: uppercase; padding: 0; line-height: 56px; background: #1371a2; }

.contact_form_row .button:hover { opacity: 0.8; }

.contact_form_row .text_center em { display: block; padding: 18px 0 0 0; font-size: 14px; color: #676767; font-family: "Merriweather"; }

.contact_form_col { width: 50%; float: left; }

.contact_form_item { padding-bottom: 17px; }

.contact_form_item label { display: block; padding-bottom: 7px; font-size: 16px; font-weight: bold; text-transform: uppercase; color: #54575a; }

.contact_form_item input.inp_small { width: 93px; text-align: center; margin: 0 14px 0 0; }

.contact_form_radio { padding: 10px 0 0 0; }

.contact_form_radio label { font-size: 16px; text-transform: none; font-family: "Merriweather"; font-weight: normal; display: inline-block; padding: 0 20px 0 0; }

.contact_form_radio label:last-child { padding: 0; }

.contact_form_title { color: #1371a2; font-size: 19px; text-align: center; font-weight: bold; }

.contact_form_title em { font-style: italic; font-family: "Merriweather"; color: #606060; font-size: 15px; display: block; font-weight: normal; padding-top: 5px; }

.select_styled select { width: 365px; height: 41px; box-sizing: border-box; padding: 0 15px; color: #000; font-size: 14px; background: #e9e9e9; font-family: "Lato"; border: none; resize: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; background: #e9e9e9 url(../img/select_arrow.png) no-repeat top right; }

/*----------end-contacts----------*/
/*----------brands_landing----------*/
.to_top_button { position: fixed; bottom: 5%; right: 10%; cursor: pointer; }

.brands_landing_wrap { background: -webkit-linear-gradient(top, #d792d1 0%, rgba(255, 255, 255, 0.75) 12%, rgba(255, 255, 255, 0) 100%); background: linear-gradient(to bottom, #d792d1 0%, rgba(255, 255, 255, 0.75) 12%, rgba(255, 255, 255, 0) 100%); padding: 66px 0 0 0; }

.brands_landing_wrap article { font-size: 16px; color: #54575a; line-height: 22px; text-align: center; padding-bottom: 28px; }

.brands_landing_wrap nav { padding-bottom: 45px; text-align: center; }

.brands_landing_wrap nav a { padding: 0 7px; display: inline-block; font-size: 18px; color: #ff9600; text-transform: uppercase; text-decoration: none; font-weight: bold; }

.brands_landing_wrap nav a:hover { text-decoration: underline; }

.brands_title { text-align: center; font-size: 46px; color: #b934ae; font-weight: bold; padding-bottom: 30px; }

.brands_title em { font-weight: normal; font-family: "Merriweather"; font-style: italic; }

.brands_landing_block { text-align: center; padding: 0 0 30px 0; }

.brands_landing_item { width: 255px; padding: 0 22px; display: inline-block; vertical-align: top; }

.brands_landing_item a { display: block; text-decoration: none; }

.brands_landing_item img { margin: 0 auto; }

.brands_landing_item p { padding: 3px 0 0 0; font-size: 13px; color: #54575a; line-height: 17px; }

.brands_landing_item p strong { display: block; font-size: 15px; text-transform: uppercase; font-weight: bold; color: #54575a; padding-bottom: 5px; }

.brand_land_img { display: block; min-height: 165px; position: relative; overflow: hidden; width: 255px; }

.brand_land_img span { display: table-cell; vertical-align: middle; text-align: center; height: 165px; position: relative; overflow: hidden; width: 255px; }

.brands_landing_slider .slick-arrow { position: absolute; top: 0; left: 0; z-index: 50; width: 100px; height: 100%; font: 0 / 0 a; text-shadow: none; color: transparent; background: -webkit-linear-gradient(left, white 20%, rgba(255, 255, 255, 0) 100%); background: linear-gradient(to right, white 20%, rgba(255, 255, 255, 0) 100%); }

.brands_landing_slider .slick-arrow:before { content: ''; position: absolute; left: 0; right: 0; width: 0px; height: 0px; border-style: solid; border-width: 15px 20px 15px 0; border-color: transparent #ff9016 transparent transparent; }

.brands_landing_slider .slick-arrow.slick-next { left: auto; right: 0; background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 20%, white 100%); background: linear-gradient(to right, rgba(255, 255, 255, 0) 20%, white 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); }

.brands_landing_slider .slick-arrow.slick-next:before { left: auto; right: 0; width: 0px; height: 0px; border-style: solid; border-width: 15px 0 15px 20px; border-color: transparent transparent transparent #ff9016; }

/*----------end-brands_landing----------*/
/*------------brand-----------------*/
.brand_wrap { height: 629px; position: relative; overflow: hidden; background: url(../img/brand_bg.jpg) no-repeat top center; background-size: cover; }

.brand_wrap .brand_block { background: rgba(255, 255, 255, 0.8); margin: 64px 0 0 0; padding: 0 0 20px 0; }

.brand_wrap .brand_block .brand_image { float: right; width: 475px; padding: 37px 0 0 0; }

.brand_wrap .brand_block article { position: relative; overflow: hidden; font-size: 16px; color: #54575a; width: 350px; padding: 30px 0 0 0; }

.brand_wrap .brand_block article p { padding: 20px 0; }

.brand_wrap .brand_block article h1 { font-weight: bold; font-size: 45px; color: #0076a9; text-transform: uppercase; }

.brand_wrap .brand_block article nav a { display: block; padding: 10px 0; border-top: 2px solid #e1e1e1; text-decoration: none; font-size: 16px; color: #0076a9; text-transform: uppercase; font-weight: bold; position: relative; }

.brand_wrap .brand_block article nav a.back { padding-left: 12px; }

.brand_wrap .brand_block article nav a.back:before { content: ''; position: absolute; left: 0; top: 17px; width: 0px; height: 0px; border-style: solid; border-width: 4px 8px 4px 0; border-color: transparent #0076a9 transparent transparent; }

.brand_wrap .brand_block article nav a:hover { text-decoration: underline; }

.brand_wrap .brand_block article ul { padding: 25px 0 0 0; color: #6a6a6a; line-height: 22px; font-size: 15px; }

.brand_wrap .brand_block article ul strong { display: block; text-transform: uppercase; font-size: 16px; padding-bottom: 10px; }

.brand_wrap .brand_block article ul a { text-decoration: none; }

.brand_wrap .brand_block article ul a:hover { text-decoration: underline; }

.brand_modal .brand_modal_inner { padding: 25px; background: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.93) 11%, rgba(255, 255, 255, 0.96) 49%, rgba(255, 255, 255, 0.98) 74%, #ffef85 100%); background: linear-gradient(45deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.93) 11%, rgba(255, 255, 255, 0.96) 49%, rgba(255, 255, 255, 0.98) 74%, #ffef85 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9ffffff', endColorstr='#ffef85',GradientType=1 ); }

.brand_modal .brand_modal_inner h6, .brand_modal .brand_modal_inner h1 { font-size: 20px; color: #fa1f17; font-weight: bold; padding-bottom: 11px; border-bottom: 2px solid #fced64; text-transform: uppercase; margin-bottom: 25px; }

.brand_modal .brand_modal_inner nav { overflow: hidden; padding-bottom: 20px; }

.brand_modal .brand_modal_inner nav ul { width: 33%; float: left; position: relative; overflow: hidden; font-size: 14px; color: #54575a; font-weight: bold; line-height: 24px; text-decoration: none; }

.brand_modal .brand_modal_inner nav ul a { text-decoration: none; }

.brand_modal .brand_modal_inner nav ul a:hover { text-decoration: underline; }

.brand_modal .brand_modal_inner nav + h6 { margin-bottom: 5px; }

.brand_modal_img { position: absolute; top: -25px; right: 0px; }

.close_modal { text-align: center; padding: 19px 0 0 0; }

.close_modal .button { color: #ffef85; font-size: 19px; background: #fa1f17; width: 137px; box-shadow: 3px 3px 0px #dadada; }

.close_modal .button:hover { opacity: 0.8; }

/*-----------end-brand--------------*/
/*-----------history-------------*/
.history_wrap { padding: 25px 0; }

.history_slider_block { position: relative; overflow: hidden; width: 630px; margin: 0 auto; }

.history_slider_block .history_slider_img { float: left; border-radius: 50%; margin: 0 25px 0 0; }

.history_slider_block article { position: relative; overflow: hidden; padding: 11px 45px 0 0; }

.history_slider_block article h6, .history_slider_block article h1 { color: #ff9016; font-size: 30px; text-transform: uppercase; text-align: center; position: relative; font-family: "Merriweather"; }

.history_slider_block article h6:before, .history_slider_block article h1:before { content: ''; width: 100%; position: absolute; left: 0; top: 50%; height: 1px; background: #ff9016; }

.history_slider_block article h6 span, .history_slider_block article h1 span { position: relative; z-index: 2; background: #fff; padding: 0 13px; }

.history_slider_block article p { padding: 10px 0; padding-bottom: 22px; text-align: center; color: #75797b; font-size: 18px; line-height: 1.4; }

.history_slider_block article blockquote { padding: 13px 0; color: #75797b; text-align: center; font-size: 14px; border-top: 1px solid #ff9016; }

.history_slider_block article blockquote b { display: block; font-style: normal; }

.history_slider_block article blockquote b:before { content: ''; position: relative; left: -10px; top: -1px; display: inline-block; width: 0px; height: 0px; border-style: solid; border-width: 4.5px 5px 4.5px 0; border-color: transparent #1675a9 transparent transparent; }

.history_slider_block article blockquote em { font-style: italic; font-family: "Merriweather"; }

.history_slider { position: relative; overflow: hidden; padding: 131px 0 0 0; }

.history_slider .slick-arrow { position: absolute; top: 0; left: 0; z-index: 50; width: 100px; height: 100%; font: 0 / 0 a; text-shadow: none; color: transparent; background: -webkit-linear-gradient(left, white 20%, rgba(255, 255, 255, 0) 100%); background: linear-gradient(to right, white 20%, rgba(255, 255, 255, 0) 100%); }

.history_slider .slick-arrow:before { content: ''; position: absolute; left: 0; top: 81px; width: 92px; height: 14px; background: url(../img/icons/slider_history_arrow.png) no-repeat top center; }

.history_slider .slick-arrow.slick-next { left: auto; right: 0; background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 20%, white 100%); background: linear-gradient(to right, rgba(255, 255, 255, 0) 20%, white 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); }

.history_slider .slick-arrow.slick-next:before { position: absolute; left: auto; right: 0; top: 81px; width: 92px; height: 14px; background: url(../img/icons/slider_history_arrow.png) no-repeat top center; -webkit-transform: scale(-1, 1); -ms-transform: scale(-1, 1); transform: scale(-1, 1); -webkit-filter: FlipH; filter: FlipH; -ms-filter: "FlipH"; }

.history_slider .slick-dots { position: absolute; top: 0; left: 0; text-align: center; z-index: 5; width: 100%; padding-bottom: 45px; border-bottom: 2px solid #53585a; }

.history_slider .slick-dots li { display: inline-block; padding: 0 14px; }

.history_slider .slick-dots li.slick-active { position: relative; font-weight: bolder; }

.history_slider .slick-dots li.slick-active:before { content: url(../img/icons/history_active.png); position: absolute; left: 40%; bottom: -52px; }

.history_slider .slick-dots li.slick-active a { font-weight: bold; }

.history_slider .slick-dots li a { color: #ff9016; font-weight: normal; font-size: 30px; text-decoration: none; font-family: "Merriweather"; }

/*----------end-history-------------*/
/*----------search-------------*/
.search_page dl { padding-left: 0; }

.search_page dl:before { display: none; }

.search_page dl dt { padding-bottom: 0; }

.search_page h1 { float: left; }

.search_content, .search_head { float: right; vertical-align: top; padding: 10px 0 0 0; }

.search_content button, .search_head button { width: 29px; height: 26px; background: #ff9016; padding: 0; text-align: center; border: none; vertical-align: top; }

.search_content button:hover, .search_head button:hover { opacity: 0.8; }

.search_content button img, .search_head button img { width: 20px; height: 20px; }

.search_content input, .search_head input { width: 214px; height: 26px; vertical-align: top; margin: 0 9px 0 0; background-color: #fff; box-shadow: inset 1px 1px rgba(57, 57, 55, 0.44); }

.search_head { float: none; display: inline-block; }

.search_head button { width: 29px; height: 26px; background: #ff9016; padding: 0; text-align: center; border: none; vertical-align: top; }

.search_head button:hover { opacity: 0.8; }

.search_head button img { width: auto; height: auto; }

.head_right { float: right; overflow: hidden; position: relative; z-index: 90; height: 90px; text-align: right; padding: 0 10px 0 0; }

.head_right .head_txt { padding: 6px 0 0 0; font-size: 12px; color: #ffffff; }

/*----------end-search-------------*/
@media screen and (-webkit-min-device-pixel-ratio: 0) { input { -webkit-transition-property: none !important; transition-property: none !important; } }

@media (min-width: 768px) { .menu > ul > li.touch-toggle.open .submenu { display: block !important; } }

@media only screen and (max-width: 900px) { .wrapper { -webkit-transition: all 0.5s ease; transition: all 0.5s ease; }
  .container { width: auto; padding: 0 10px; }
  .bx-default-pager { left: 10px; margin-left: 0; }
  .tiles_item { width: 245px; }
  .tiles_item section p { font-size: 18px; }
  .tiles_description { font-size: 22px; } }

@media only screen and (max-width: 768px) { .container { padding: 0 40px; }
  .social_icon, .header .menu { display: none; }
  .logo { float: right; padding: 12px 0px 0 0; }
  .logo img { width: 130px; height: 69px; }
  .trigger_menu { display: block; float: left; padding: 18px 0 0 0px; }
  .bx-default-pager { margin-bottom: 40px; text-align: center; position: static; }
  .slider_wrap, .slider_wrap .container { height: auto; }
  .slider_img { width: 100%; margin: 0 auto; display: block; position: static; padding: 0 0 39px 0; }
  .slider_txt { padding-top: 0; }
  .slider_txt h6 { font-size: 86px; }
  .slider_txt em { font-size: 98px; }
  .slider_txt .button { width: 100%; height: 90px; line-height: 90px; text-align: center; padding: 0; font-size: 44px; }
  .slider_txt .button:hover { opacity: 0.9; }
  .slider_block.yellow .slider_txt h6 { font-size: 55px; }
  .slider_block.yellow .slider_txt em { font-size: 68px; }
  .bx-default-pager { margin-top: -10px; }
  .bx-default-pager a { width: 30px; height: 30px; margin: 0 10px; }
  .brands_images { display: block; font-size: 0; width: 100%; }
  .brands_block { display: block; width: 100%; }
  .brands_item { text-align: center; display: inline-block; width: 50%; vertical-align: bottom; }
  .brands_item img { width: 90%; }
  .title { font-size: 57px; padding: 33px 0; border-top: 4px solid #146a83; }
  .title:before { display: none; }
  .title em { font-size: 41px; }
  .tiles_item, .tiles_item figure { width: 100%; float: none; display: block; height: auto; margin: 0; }
  .tiles_item > img, .tiles_item figure > img { display: none; }
  .tiles_item section, .tiles_item figure section { display: none; }
  .tiles_item figcaption, .tiles_item .tiles_item_social, .tiles_item figure figcaption, .tiles_item figure .tiles_item_social { height: 182px; padding: 21px 44px; padding-left: 203px; font-size: 60px; text-align: left; box-sizing: border-box; margin-bottom: 0; }
  .tiles_item figcaption em, .tiles_item .tiles_item_social em, .tiles_item figure figcaption em, .tiles_item figure .tiles_item_social em { font-size: 60px; }
  .tiles_item figcaption img, .tiles_item .tiles_item_social img, .tiles_item figure figcaption img, .tiles_item figure .tiles_item_social img { width: 124px; left: 44px; position: absolute; top: 25px; }
  .tiles_item.violet section { display: block; position: static; opacity: 1; }
  .tiles_item.violet section p { display: none; }
  .tiles_item.violet section .tiles_item_social { padding-top: 38px; }
  .tiles_wrap.container { padding: 0; }
  .bottom_button { margin-top: 22px; }
  .bottom_button .button { width: auto; display: block; font-size: 24px; padding: 0; line-height: 55px; height: 55px; margin: 0 65px; }
  .hide_mobile { display: none; }
  .hide_desctop { display: block; }
  .footer .menu { padding-bottom: 35px; float: none; text-align: center; font-size: 26.5px; }
  .footer .logo { float: left; padding-left: 100px; }
  .footer .logo img { width: 202px; height: auto; }
  .footer address { font-size: 30px; width: 319px; line-height: 1.3; padding-right: 0; }
  .openmenu { -webkit-transition: all 0.5s ease; transition: all 0.5s ease; }
  .openmenu .header .menu { left: 0; opacity: 1; }
  .header .menu { position: fixed; display: block; left: -580px; top: 0; opacity: 0; z-index: 99; height: 100%; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; background: #ff9600; width: 580px; padding: 0; overflow-y: auto; box-shadow: inset -5px -5px 20px #cf5b00; }
  .header .menu .container { padding: 0; }
  .header .menu ul li { height: auto; display: block; padding: 0; }
  .header .menu ul li a { height: auto; line-height: 1; padding: 15px 44px; font-size: 44px; font-weight: bold; }
  .header .menu ul li a:before { content: none; }
  .header .menu ul li .dropdown { position: static; display: none; background: #e87404; height: auto; }
  .header .menu ul li .dropdown li { height: auto; text-align: left; }
  .header .menu ul li .dropdown li a { height: auto; line-height: 1; padding: 15px 44px; font-size: 44px; font-weight: normal; color: #fff; }
  .header .menu ul li .dropdown li a:before { content: none; }
  .header .menu ul li .dropdown_bigmenu { display: none; }
  .openmenu { left: 580px; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; }
  .brands_landing_wrap nav a { font-size: 30px; }
  .brands_landing_wrap .title, .guide_wrap .title, .search_wrap .title { border-top: none; font-size: 34px; }
  .brands_landing_wrap .title:before, .guide_wrap .title:before, .search_wrap .title:before { display: block; }
  .brands_landing_wrap .title em, .guide_wrap .title em, .search_wrap .title em { font-size: 34px; }
  .news_block > img { float: none; margin: 0 auto; display: block; max-width: 100%; min-width: 370px; margin-bottom: 25px; }
  .link, .news_block article section p, .news_block article section h6 { font-size: 34px; line-height: 1.3; }
  .latest_inovations_bnr, .top_wrap { padding-bottom: 30px; }
  .latest_inovations_bnr .container, .top_wrap .container { height: auto; }
  .latest_inovations_bnr .slider_txt p, .top_wrap .slider_txt p { width: 100%; font-size: 34px; line-height: 1.3; }
  .latest_inovations_bnr .slider_txt em, .top_wrap .slider_txt em { font-size: 60px; }
  .latest_inovations_bnr .slider_txt em br, .top_wrap .slider_txt em br { display: none; }
  .brands_wrap .title { font-size: 43px; }
  .brands_item { padding-bottom: 35px; }
  .content_txt { font-size: 34px; line-height: 1.3; }
  .content_txt p { font-size: 34px; line-height: 1.3; }
  .guide_bnr .slider_txt h1 br { display: none; }
  .guide_block figure { display: block; text-align: center; width: 100%; }
  .guide_block figure img { min-width: 310px; }
  .guide_block figure figcaption { font-size: 34px; }
  .guide_block figure figcaption a { font-size: 24px; }
  .search_form_top div { display: block; width: 100%; padding: 0; margin: 0; padding-bottom: 20px; }
  .search_form_top div label { font-size: 23px; }
  .search_form_top div input { height: 60px; width: 100%; font-size: 34px; }
  .search_form_bottom, .search_table { width: 100%; }
  .search_form_bottom .button, .search_table .button { width: 131px; }
  .paginator { font-size: 20px; }
  .faq dl { font-size: 20px; line-height: 1.3; }
  .contact_form_col { float: none; width: 100%; }
  .contact_form_item label { font-size: 21px; }
  .contact_form_item input, .contact_form_item select, .contact_form_item textarea { width: 100%; height: 55px; font-size: 20px; }
  .contact_form_item textarea { height: 130px; }
  .contact_form_title, .contact_form_title em { font-size: 25px; }
  .contact_form_row .button { width: 465px; height: 112px; font-size: 50px; }
  .map, .image_round { margin: 0 auto; display: block; position: relative; overflow: hidden; top: 0; margin-top: -40px; right: 0; height: 478px; width: 478px; float: right; }
  .contact_form_row .text_center em { font-size: 20px; }
  .brand_wrap .brand_block article { width: 100%; text-align: center; }
  .brand_wrap { height: auto; padding-bottom: 50px; background-size: cover; }
  .brand_wrap .brand_block article nav a.back:before { display: none; }
  .history_slider .slick-arrow { background: none; } }
