// Normally mainpage styles
 
 /*----------header----------*/

 .header{
	height: 90px;
	background:#ff9016;
	.container{
		position: static;
		overflow: visible;
	}
 }
 	.trigger_menu{
 		display: none;
 	}
 	.logo{
 		float: left;
 		padding: 18px 0;
 	}
 	.menu{
 		float: left;
 		font-size: 18px;
 		font-weight: bold;
 		color: #fff;
 		padding: 10px 0 0 38px;
 		a{
 			text-decoration: none;
 			&:hover{
 				text-decoration: underline;
 			}
 		}
 		li{
 			display: inline-block;
 			padding: 0 15px 0 0;
 		}
 	}
 		.header .menu{
 			padding-top: 0;
			li{
				height: 84px;
				a{
					display: inline-block;
					height: 84px;
					line-height: 84px;
					position: relative;
					&:before{
						@include arr(18,13, #fff, t);
						position: absolute;
						bottom: 0;
						left: 50%;
						margin-left: -9px;
						content: '';
						opacity: 0;
					}
				}
				&:hover{
					.dropdown{
						display: block;
					}
					a{
						position: relative;
						&:before{
							opacity: 1;
						}
					}
				}
				
			}
 		}
 		.header .menu .dropdown{
 			width: 100%;
 			background:#fff;
 			height: auto;
 			position: absolute;
 			top: 84px;
 			left: 0;
 			z-index: 5;
 			display: none;
 			text-align: center;
 			li{
 				height: 48px;
 				a{
 					height: 48px;
 					line-height: 48px;
 					color: #ff9600;
 					font-size: 15px;
 					font-weight: normal;
 				}
 			}
 		}
 			.header .menu .dropdown .dropdown_bigmenu{
				ol{
					display: inline-block;
					vertical-align: top;
					width: auto;
					text-align: left;
					padding: 10px 20px 20px 0;
					li{
						display: block;
						float: none;
						text-transform: uppercase;
						color: #686868;
						font-size: 11px;
						height: auto;
						line-height: 1;
						b{
							font-weight: 900;
							display: block;
							padding-bottom: 7px;
						}
						a{
							height: auto;
							line-height: 14px;
							text-transform: uppercase;
							color: #686868;
							font-size: 11px;
							&:before{
								display: none;
							}
						}
					}
				}
 			}
 	.social_icon{
 		float: right;
 		padding: 18px 0;
 	}

	
/*----------end-header----------*/	


/*----------main----------*/
 
 .main{
	@include povh('');
 }

	/*---------slider---------*/
	.slider_wrap{
		width: 100%;
		height: 419px;
		position: relative;
		.container{
			height: 419px;
		}
		.bx-controls-direction{
			display: none;
		}
	}
		.slider_img{
			position: absolute;
			right: 0;
			top: 0;
			z-index: 1;
		}
		.slider_txt{
			padding: 80px 0 0 0;
			position: relative;
			z-index: 2;
			h6{
				font-size: 46px;
				color: #1788a9;
				font-weight: bold;
				text-transform: uppercase;
				line-height: 1.1;
			}
			em{
				text-transform: none;
				font-weight: normal;
				font-family: $fontfamily;
				font-style: italic;
				font-size: 53px;
			}
			p{
				line-height: 22px;
				font-size: 16px;
				color: #54575a;
				width: 327px;
				display: block;
				padding: 35px 0 0 0;
			}
			.button{
				margin-top: 29px;
				background:#ff9016;
				&:hover{
					opacity: 0.9;
				}
			}
		}
			.slider_block{
				@include linear-gradient( #bde4f7, #fff);
				&.violet{
					@include linear-gradient( #d895d2, #fff);
					.slider_txt{
						h6{
							color: #b934ae;
						}
					}
				}
				&.rose{
					@include linear-gradient( #ffaf9a, #fff);
					.slider_txt{
						h6{
							color: #ff4412;
						}
					}
				}
				&.yellow{
					@include linear-gradient( #fffb92, #fff);
					.slider_txt{
						h6{
							color: #e34545;
						}
					}
				}
			}
		.bx-default-pager{
			position: absolute;
			bottom: 0;
			left: 50%;
			z-index: 10;
			width: 900px;
			margin-left: -450px;
			width: 100%;
			.bx-pager-item{
				display: inline-block;
			}
			a{
				display: inline-block;
				width: 16px;
				height: 16px;
				margin: 0 10px 0 0;
				border-radius: 50%;
				background:#ffca7f;
				@include hide-text;
				&.active{
					background:#ffac36;
				}
			}
		}
	/*--------end-slider------*/

	/*--------brands------*/
	.brands_wrap{
		padding: 30px 0 16px 0;
	}
		.title{
			font-size: 25px;
			color: #ff9600;
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;
			vertical-align: middle;
			margin-bottom: 15px;
			position: relative;
			em{
				text-transform: none;
				vertical-align: middle;
				font-weight: normal;
				font-family: $fontfamily;
				font-style: italic;
				font-size: 18px;
			}
			span{
				background:#fff;
				position: relative;
				z-index: 2;
				padding: 0 9px;
			}
			&:before{
				content: '';
				width: 100%;
				height: 1px;
				position: absolute;
				top: 50%;
				left: 0;
				background:#146a83;
			}
		}
		.brands_images{
			display: table;
			width: 100%;
		}
			.brands_block{
				display: table-row;
				width: 100%;
			}
				.brands_item{
					text-align: center;
					display: table-cell;
					vertical-align: bottom;
				}
	/*--------end-brands------*/

	/*--------tiles------*/
	.tiles_wrap{
		padding-bottom: 35px;
		@include povh('');
	}
		.tiles_item{
			width: 292px;
			height: 285px;
			@include povh('');
			float: left;
			margin: 0 11px 11px 0;
			transition: all 0.5s ease;
			&:nth-child(3n){
				margin-right: 0;
			}
			figure{
				width: 292px;
				height: 292px;
				@include povh('');
				figcaption{
					background:#ff9600;
					height: 73px;
					position: relative;
					box-sizing: border-box;
					padding: 7px 13px 7px 55px;
					font-size: 27px;
					color: #fff;
					font-weight: bold;
					line-height: 1.1;
					text-transform: uppercase;
					em{
						display: block;
						text-transform: none;
						font-size: 24px;
						font-weight: normal;
						font-family: $fontfamily;
					}
					img{
						position: absolute;
						left: 6px;
  						top: 17px;
					}
				}
			}

			section{
				background:#ff9600;
				position: absolute;
				top: -295px;
				opacity: 0;
				left: 0;
				width: 100%;
				height: 100%;
				transition: all 0.5s ease;
				p{
					font-size: 22px;
					color: #fff;
					font-family: $fontfamily;
					line-height: 29px;
					font-style: italic;
					padding: 18px;
				}
			}

			&:hover{
				section{
					opacity: 1;
					top: 0
				}
			}
		}
			.tiles_description{
				height: 73px;
				position: absolute;
				bottom: 0;
				left: 0;
				box-sizing: border-box;
				padding: 7px 13px 7px 68px;
				font-size: 27px;
				color: #fff;
				font-weight: bold;
				line-height: 1.1;
				text-transform: uppercase;
				em{
					display: block;
					text-transform: none;
					font-size: 24px;
					font-weight: 300;
					font-family: $fontfamily;
				}	
				img{
					position: absolute;
					left: 16px;
					top: 17px;
				}
			}
		.tiles_item.blue{
			figure{
				figcaption{
					background:#008aff;
				}
			}
			section{
				background:#008aff;
			}
		}
		.tiles_item.lightblue{
			figure{
				figcaption{
					background:#52bcd9;
				}
			}
			section{
				background:#52bcd9;
			}
		}
		.tiles_item.green{
			figure{
				figcaption{
					background:#40c716;
				}
			}
			section{
				background:#40c716;
			}
		}
		.tiles_item.orange{
			figure{
				figcaption{
					background:#ea5311;
				}
			}
			section{
				background:#ea5311;
			}
		}
		.tiles_item.violet{
			section{
				opacity: 1;
				top: 0;
				background: #8717c1;
				background: -moz-linear-gradient(-45deg,  #8717c1 0%, #31016f 100%);
				background: -webkit-linear-gradient(-45deg,  #8717c1 0%,#31016f 100%);
				background: linear-gradient(135deg,  #8717c1 0%,#31016f 100%);
			}
		}
			.tiles_item_social{
				padding: 14px 22px;
				padding-bottom: 0;
				font-size: 27px;
				text-transform: uppercase;	
				vertical-align: middle;
				color: #fff;
				img{
					padding: 0 15px 0 0;
				}
			}
	/*--------end-tiles------*/
	
	.text_center{
		.button{
			text-transform: none;
		}
	}
/*----------end main----------*/	

	
/*----------footer----------*/
 
 .footer{
	@include povh('');
	margin: 45px 0 0 0;
	background:#ff9600;
	padding: 20px 0;
	address{
		padding: 0 50px 0 25px ;
		float: left;
		font-style: normal;
		color: #fff;
		font-size: 16px;
		width: 181px;
		line-height: 1;
		strong{
			display: block;
		}
	}
	.logo{
		padding: 0;
	}
 }
 	.hide_desctop{
 		display: none;
 	}
 	.hide_mobile{
 		display: block;
 	}

/*----------end footer----------*/


/*----------behind-scenes----------*/
.top_wrap{
	.container{
		height: 460px;
	}	
}
.content_txt{
	line-height: 22px;
	color: #54575a;
	font-size: 16px;
	padding: 22px 0 0 0;
	p{
		padding-bottom: 20px;
	}
}
/*----------end-behind-scenes----------*/

/*----------latest-inovations----------*/
.latest_inovations_bnr{
	@include linear-gradient( #96e07e, #fff);
	.slider_txt{
		h6{
			color: #228e16;
		}
	}
	.container{
		height: 490px;
	}	
}
	.link{
		font-size: 16px;
		color: #ff9016;
		text-decoration: none;
		text-transform: uppercase;
		&:hover{
			text-decoration: underline;
		}
	}
.news_wrap{
	padding-top: 20px;
}
	.news_block{
		@include povh('');
		padding: 20px 0;
		& > img{
			border-radius: 50%;
			float: left;
			margin: 0 20px 0 0;
		}
		article{
			@include povh('');
			section{
				display: table-cell;
				height: 207px;
				vertical-align: middle;
			}
			h6{
				font-size: 20px;
				color: #0076a9;
				text-transform: uppercase;
				padding-bottom: 5px;
				font-weight: bold;
				a{
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
				}
			}
			p{
				padding-bottom: 15px;
			}
		}
	}
/*----------end-latest-inovations----------*/

/*----------guide----------*/
.guide_bnr{
	background:#F4A988;
	background: -moz-linear-gradient(top,  rgba(244,169,136,0.63) 0%, rgba(255,255,255,0.86) 63%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(244,169,136,0.63) 0%,rgba(255,255,255,0.86) 63%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom,  rgba(244,169,136,0.63) 0%,rgba(255,255,255,0.86) 63%,rgba(255,255,255,1) 100%);
	.slider_txt{
		h6{
			color: #d21460;
		}
	}
	.container{
		height: auto;
		min-height: 530px;
	}
}
.guide_wrap{
	text-align: center;
	padding: 45px 0 0 0;
}
	.guide_block{
		figure{
			vertical-align: top;
			margin: 0 5px;
			padding-bottom: 25px;
			display: inline-block;
			width: 220px; 
			img{
				border-radius: 50%;
			}
			figcaption{
				padding: 12px 0 0 0;
				color: #146a83;
				font-size: 16px;
				color: #146a83;
				font-style: italic;
				font-family: $fontfamily;
				a{
					font-size: 20px;
					font-weight: bold;
					font-family: $ffamily;
					text-decoration: none;
					display: block;
					font-style: normal;
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
	}
/*----------end-guide----------*/

/*----------faq----------*/
.faq{
	background: #fff191;
	background: -moz-linear-gradient(top,  #fff191 0%, #ffffff 21%, #ffffff 100%);
	background: -webkit-linear-gradient(top,  #fff191 0%,#ffffff 21%,#ffffff 100%);
	background: linear-gradient(to bottom,  #fff191 0%,#ffffff 21%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff191', endColorstr='#ffffff',GradientType=0 );
	padding: 75px 0;
	h1{
		font-size: 45px;
		color: #177fe9;
		text-transform: uppercase;
		padding-bottom: 28px;
		font-weight: bold;
	}
	section{
		counter-reset: list;
	}
	dl{
		padding-left: 18px;
		position: relative;
		color: #54575a;
		font-size: 16px;
		line-height: 20px;
		&:before{
			counter-increment: list;
   			 content: counter(list);
   			 position: absolute;
   			 left: 0;
   			 top: 1px;
   			 color: #ff9016;
   			 font-size: 16px;
   			 font-family: $ffamily;
   			 font-weight: bold;
		}
	}
	dt{
		font-weight: bold;
		padding-bottom:20px ;
	}
	dd{
		padding-bottom: 20px;
	}
}
/*----------end-faq----------*/

/*----------career_bnr----------*/
.career_bnr{
	@include linear-gradient( #85e4ff, #fff);
}
.search_wrap{
	padding: 30px 0 0 0;
}
	.search_form{
		padding-bottom: 28px;
	}
		.search_form_top{
			padding-bottom: 19px;
			text-align: center;
			div{
				margin: 0 20px;
				text-align: left;
				display: inline-block;
				label{
					display: block;
					font-weight: bold;
					font-size: 16px;
					color: #54575a;
					padding-bottom: 9px;
				}
				input{
					width: 365px;
					height: 41px;
					background:#e9e9e9;
					border-radius: 0;
					border: none;
				}
			}
		}
		.search_form_bottom{
			width: 775px;
			text-align: left;
			margin: 0 auto;
			label{
				padding: 13px 15px 0 0;
				font-size: 16px;
				color: #54575a;
				display: inline-block;
				font-family: $fontfamily;
			}
			.button{
				float: right;
				width: 186px;
				height: 45px;
				background: #1371a2;
				font-size: 15px;
				color: #fff;
				&:hover{
					opacity: 0.8;
				}
			}
		}
			.styled_radio{
				width: 26px;
				height: 26px;
				display: inline-block;
				position: relative;
				vertical-align: middle;
				margin: 0 9px 0 0;
				i{
					display: inline-block;
					width: 26px;
					height: 26px;
					background:#e9e9e9;
					border-radius: 50%;
					margin: 0 8px 0 0;
				}
				input{
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					opacity: 0;
				}
				input:checked + i{
					&:before{
						content: '';
						width: 12px;
						height: 12px;
						left: 7px;
						top: 7px;
						position: absolute;
						border-radius: 50%;
						background:#54575a;
					}
				}
			}
		.search_table{
			width: 775px;
			margin: 0 auto;
			table{
				width: 100%;
				td{
					vertical-align: middle;
					padding: 10px 0;
					font-family: $fontfamily;
					font-size: 14px;
					color: #808080;
					border-top: 1px solid #ff9016;
					&:nth-child(2){
						width: 70%;
					}
					a.button{
						width: 134px;
						height: 45px;
						line-height: 45px;
						padding: 0;
						text-align: center;
						float: right;
						background:#1371a2;
						&:hover{
							opacity: 0.8;
						}
					}
					img{
						padding: 0 30px 0 0;
					}
				}
			}
		}
		.paginator{
			text-align: center;
			padding: 30px 0 0 0;
			font-size: 13px;
			color: #1371a2;
			font-weight: bold;
			a{
				text-decoration: none;
				padding: 0 6px;
				font-weight: bold;
				&:hover, &.active{
					color: #ff9600;
				}
			}
		}

/*----------end-career_bnr----------*/

/*----------contacts----------*/
.contacts_bnr{
	@include linear-gradient( #ffca90, #fff);
}
	.map{
		@include povh('povh');
		position: absolute;
		top: -43px;
		z-index: 3;
		right: 0;
		border-radius: 50%; 
	}
/*----------end-contacts----------*/

